$color-primary:hsl(0, 100%, 68%);
$color-blue:hsl(230, 29%, 20%);
$color-gray:hsl(230, 11%, 40%);
$color-lightgray: hsl(231, 7%, 65%);
$colorr-light:hsl(207, 33%, 95%);

body {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 20px;
    padding-top: 25px;
    margin: 0 auto;

}

.bg {
    background-color: $colorr-light;
    position: absolute;
    top: 0;
    right: 0;
    width: 48vw;
    height: 48vh;
    border-bottom-left-radius: 50px;
    z-index: -1111;
}

.footer {
    &__img {
        overflow: hidden;

        img {
            width: 138%;

        }
    }
    padding-top: 50px;

    &__p1 {
        letter-spacing: 4px;
        color: $color-lightgray;
        text-transform: uppercase;
        padding-top: 30px;
    }

    span {
        letter-spacing: 1px;
        color: #eef3f6;
        background-color: #242942;
        border-radius: 100px;
        padding: 3px 6px;
        margin-right: 6px;
        font-weight: 700;
    }


    &__h1 {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__p2 {
        color: $color-gray;
    }

    &__a {
        text-decoration: none;
        background-color: $color-primary;
        color: $colorr-light;
        border-radius: 3px;
        padding: 8px 16px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }

    &__p3 {
        text-transform: uppercase;
        color: $color-lightgray;
        letter-spacing: 2px;
        display: inline-block;
        padding-left: 5px;
    }
}


.nav {

    &__a {
        position: absolute;
        right: 10%;
        top: 12%;
        width: 80%;
        border-radius: 3px;
        background-color: white;
        text-align: center;
        box-shadow: -2px 0px 10px -3px #7e7d7d;
        visibility: hidden;

        li {
            list-style-type: none;
            text-decoration: none;

        }

        a {

            display: block;
            text-decoration: none;
            color: black;
            line-height: 50px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        #line {
            border: none;
            width: 80%;
            height: 2px;
            background-color: $colorr-light;
        }

        #gray {
            color: $color-lightgray;
        }


    }

    &__logo {
        display: inline-block;
    }

    #check {
        position: absolute;
        display: none;
        z-index: -1111;

    }
    &__btn{
        position: relative;
        float: right;

    }

    &__show {
        position: absolute;
        left:-40px;
        top: 15px;
    }

    &__hide {
        position: absolute;
        visibility: hidden;
        left:-40px;
        top: 15px;
    }


    #check:checked~&__a {
        visibility: visible;
    }

    #check:checked~&__btn &__hide {
        visibility: visible;
    }

    #check:checked~&__btn &__show {
        visibility: hidden;
    }
}

@media (min-width:1023px) {
    
   .header{
      .nav{
          #line{
              width: 10px;
              height: 10px;
              border-radius: 10px;
              background-color: $color-lightgray;
              margin-top: 20px;
          }
          &__logo{
              padding-left: 80px;
          }
          &__btn{visibility: hidden;}
        &__a{
            visibility: visible;
            flex-wrap: nowrap;
            display: flex;
            justify-content: space-between;
            width: 600px;
            background-color: transparent;
            box-shadow: none;
            margin-top:-60px ;

        }
      }
   }

    .footer{
        display: flex;
        flex-direction: row-reverse;
        &__a:hover{
            background-color: hsl(0, 61%, 73%);
        }
        &__img {
        
            width: 60%;
    }
    &__p1 {
        letter-spacing: 4px;
        color: $color-lightgray;
        text-transform: uppercase;
        padding-top: 30px;
    }

    span {
        letter-spacing: 1px;
        color: #eef3f6;
        background-color: #242942;
        border-radius: 100px;
        padding: 3px 6px;
        margin-right: 6px;
        font-weight: 700;
    }


    &__h1 {
        font-weight: 900;
        text-transform: uppercase;
        font-size: 70px;
    }
   
   
}

    .bg{
    background-color: $colorr-light;
    position: absolute;
    top: 0;
    right: 0;
    width: 57%;
    height: 60%;
    border-bottom-left-radius: 50px;
    z-index: -1111;
    }
   
}