$color-primary:hsl(0, 100%, 68%);
$color-blue:hsl(230, 29%, 20%);
$color-gray:hsl(230, 11%, 40%);
$color-lightgray: hsl(231, 7%, 65%);
$colorr-light:hsl(207, 33%, 95%);

body {
    font-family: 'Barlow Condensed', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
    
}

.bg {
    background-color: $colorr-light;
    position: absolute;
    top: 0;
    right: 0;
    width: 48%;
    height: 48%;
    border-bottom-left-radius: 50px;
    z-index: -1111;
}

.footer {
    padding-top: 50px;
    &__p1 {
        letter-spacing: 4px;
        color: $color-lightgray;
        text-transform: uppercase;
    }

    span {
        letter-spacing: 1px;
        color: #eef3f6;
        background-color: #242942;
        border-radius: 100px;
        padding: 3px 6px;
        margin-right: 6px;
        font-weight: 700;
    }


    &__h1 {
        font-weight: 700;
        text-transform: uppercase;
    }

    &__p2 {
        color: $color-gray;
    }

    &__a {
        text-decoration: none;
        background-color: $color-primary;
        color: $colorr-light;
        border-radius: 3px;
        padding: 8px 16px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }

    &__p3 {
        text-transform: uppercase;
        color: $color-lightgray;
        letter-spacing: 4px;
        display: inline-block;
        padding-left: 5px;
    }
}

.header {
    &__img {
        overflow: hidden;
        // right: 0;
        // position: absolute;

        img {
            width: 138%;
            margin-top: 50px;

        }
    }
}
.nav{
    
    &__a{
        position: absolute;
        right: 10%;
        top: 12%;
        width: 80%;
        border-radius: 3px;
        background-color:white;
        text-align: center;
        box-shadow: -2px 0px 10px -3px #7e7d7d;
        transition: 0.5s;
        
        li{
            list-style-type: none;
            text-decoration: none;

        }
        a{
       
        display: block;
        text-decoration: none;
        color: black;
        line-height: 50px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        }
        #line{
            border: none;
            width: 80%;
            height: 2px;
            background-color: $colorr-light;
        }
        #gray{
            color: $color-lightgray;
        }
        
       
    }

    #check{
        position: absolute;
        // display: none;
        // z-index: -1111;
        
    }
    &__show,
    &__hide{
        // line-height: -px;
        // margin-bottom: 100px;
        display: block;
        float: right;
        // transition: 0.4s;
        // height: 0px;
        // padding-left: 100px;


        // position: absolute;
    }
}
#check:checked ~.nav__hide{
    display:block;
  }
